body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
} 
main {
    flex: 1 0 auto;
    min-height: ;
}

/* efeito hover na nav  */
@media screen and (min-width:990px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -45px;
    }

    .nav-link {
        transition: all 0.5s;
    }
    .nav-link:hover, .nav-link.active {
        background-color: #000;
        color: #fff!important;
        transition: all 0.5s;
    }
    .configNavbar {
        height: 100px;
    }
    li.nav-item a {
        padding: 38px 0;
    }
}

.icofont-navigation-menu {
    color: blue;
}

main {
    padding: 30px 0;
}

/* limitar imagem  */

.card-img {
    max-height: 200px;
    overflow: hidden;
}

.containerEmpresa .empresa h2 {
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000;
    text-align: center;
}

.containerEmpresa .empresa p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(4, 4, 34);
    font-weight: 100;
    width: 80%;
    text-align: justify;
    margin-left: 10%;
}

.containerClientes .clientes {
    /* position: relative;
    display: flex; */

}
/* FOOTER DO MATERIALIZE  */

.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #000;
    color: white;
    
}

.page-footer .footer-copyright {
    padding: 20px 0;
}

.footer-copyright *{
    color: white;
    text-decoration: none;
}

.footer-copyright a:hover {
    color: #ccc;
}

.right {
    float: right;
}
    
