<H1>CLIENTES E PARCEIROS</H1>
<div class="containerClientes">
    <div class="imgClientes">
        <div class="row">
            <div class="col-sm-2 col-12">
                <div class="card" style="width: 100%;">
                    <img src="./img/Logo-socorro.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-12">
                <div class="card" style="width: 100%;">
                    <img src="./img/logo-MATECOURO.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-12">
                <div class="card" style="width: 100%;">
                    <img src="/img/logo-emporio.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-12">
                <div class="card" style="width: 100%;">
                    <img src="./img/logo-cory.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-12">
                <div class="card" style="width: 100%;">
                    <img src="./img/logo-tampico.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div> -->
                </div>
            </div>
        </div>
        
        <!-- <div class="parceiro"><img src="./img/Logo-socorro.jpg" alt="" width="200px"></div>
        <div class="parceiro"><img src="./img/logo-MATECOURO.jpg" alt="" width="200px"></div>
        <div class="parceiro"><img src="./img/logo-emporio.jpg" alt="" width="200px"></div>
        <div class="parceiro"><img src="./img/logo-cory.jpg" alt="" width="200px"></div>
        <div class="parceiro"><img src="./img/logo-tampico.png" alt="" width="200px"></div> -->
    </div>
</div>
<div class="containerCliente2"> 
    <p>A Aspin entende que o sucesso de qualquer empresa não se faz sozinho e que o trabalho em parceria é fundamental para alavancar resultados positivos. Para isso, RESPEITO, COMPROMISSO e EXCELÊNCIA nos serviços são valores fundamentais permeiam nossos trabalhos.</p>
    <br>               

    <p>A nossa empresa ASPIN conta atualmente com grandes parceiros, entre eles temos a famosa empresa Mate Couro, a bebida que é feita por extratos vegetais, fundada em 1947 e de muita qualidade, com um crescimento constante e com diversos sabores. Com ele é possível experimentar diversos tipos de sabores e ainda contar com a água Mate Couro, bebida com sabor inconfundível, com a fábrica em Belo Horizonte e um tamanho de dar inveja. </p>
    <br>               

    <p>A empresa Mate Couro possui materiais de excelente qualidade e com suas garrafas recicláveis, contendo sua própria rede Mate Couro de distribuição, bebidas mix com diversos sabores e mais, a cada ano com uma novidade diferente a Mate Couro traz sabores novos e qualidades ainda melhores. </p>
    <br>

    <p>Seja no almoço, lanche da tarde ou jantar, Mate Couro combina com tudo e está sempre presente no dia a dia, com ele sempre tem o melhor de seu sabor, você lembra de momentos bons com amigos ou a família reunida em casa, você se lembra de sua infância e por isso ele é nosso parceiro exclusivo e de total confiança, com ele possuímos grandes histórias e conquistas.</p> 
    <br>

    <p>Cory Alimentos, Britvic Ebba e Socorro Bebidas integram também nosso quadro de parceiros e possuem produtos de excelente qualidade e um grande fluxo de demandas, com empresas grandes e que fazem parte de nossa trajetória, com elas conseguimos garantir os melhores produtos para nossos clientes.</p>
    <br>  
    
    <p>A empresa Britvic Ebba é nossa parceira com seus sucos concentrados trazendo mais investimentos no mercado e desenvolvimento de novos produtos, se faz como principal e mais diversificado player da categoria, com o maior mix de sabores e um portfólio completo de sucos concentrados, prontos para beber, chás, água de coco e purês de frutas.</p>
    <br>
    
    <p>A Socorro Bebidas sempre busca parcerias estratégicas que auxiliem no seu crescimento, redução de custos e melhoria dos processos de fabricação, mantendo sempre a qualidade de seus produtos e por isso fazemos parte dela, busca estabelecer uma relação harmônica entre a empresa, o meio ambiente e a comunidade local, com foco na redução de custos e desenvolvimento sustentável.</p>
    <br>
    
    <p>Cory Alimentos sempre com essência, sempre pensando nas pessoas com amor, integridade e união, traz com ela doces para alegrar a todos e um ótimo empenho em fazer produtos de excelente qualidade e trazendo com si o melhor de seu produto.</p>
    <br> 

    <p>A ASPIN agradece a todos os parceiros que estão conosco trazendo sempre melhorias em seus produtos para juntos crescermos e continuar levando os melhores sabores e experiências para todos os locais.</p>
    <br>
</div>

<!-- LISTA DE CLIENTES COM DEPOIMENTO -->
    <div class="clientes">

    </div>


<!-- AVALIAÇÃO DE CLIENTES -->
    <div class="clientes">

    </div>
