<h1>Contate-nos,</h1>
<h3>para mais informações!</h3>
        <fieldset>
            <legend>DADOS PESSOAIS</legend>
            <br>
            <label for="nome">Nome Completo</label>
            <input type="nome" name="nome" placeholder="Nome completo" required autofocus autocomplete>

            <br>
            <label for="number">CPF</label>
            <input type="number" name="CPF" placeholder="000.000.000-00" required>

            <br>
            <label for="number">RG ou RNE</label>
            <input type="text" name="RG ou RNE" required>

            <br>      
            <legend>DADOS DE CONTATO</legend>
            <br>
            <label for="">Telefone</label>
            <input type="number" name="Telefone" placeholder="OPCIONAL">

            <br>
            <label for="">Celular</label>
            <input type="number" name="Celular" placeholder="(DDD) 00000-0000" required>

            <br>
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="exemplo@gmail.com" required autocomplete>
        </fieldset>

        <div class="social">
            <a href="#"><i class="icofont-instagram icofont-2x"></i>/wtdistribuidora</a>
            <a href="#"><i class="icofont-facebook icofont-2x"></i>/wtdistribuidora</a>
            <a href="#"><i class="icofont-linkedin icofont-2x"></i>/wtdistribuidora</a>
            <a href="https://api.whatsapp.com/send?phone=5547999248647" target="_blank"><i class="icofont-brand-whatsapp icofont-2x"></i>47 99924-8647</a>
            <a href="#"><i class="icofont-youtube-play icofont-2x"></i>/wtdistribuidora</a>
        </div>
