<h1>Produtos</h1>
 <!-- card  -->
<div class="row">
<div class="col-sm-4 col-12">
    <div class="card" style="width: 100%;">
    <div class="card-img">
    <img src="img/voss.png" class="card-img-top" alt="..." >
    </div>
    <div class="card-body">
        <h5 class="card-title">Agua Voss</h5>
        <p class="card-text">Agua Voss</p>
        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
    </div>
    </div>
</div>
<div class="col-sm-4 col-12">
    <div class="card" style="width: 100%;">
    <div class="card-img">
        <img src="img/Coca-Cola.png" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <h5 class="card-title">Coca cola</h5>
        <p class="card-text">Coca cola</p>
        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
    </div>
    </div>
</div>
<div class="col-sm-4 col-12">
    <div class="card" style="width: 100%;">
    <div class="card-img">
    <img src="img/bebidas.png" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <h5 class="card-title">Cervejas Safari Ice</h5>
        <p class="card-text">Cervejas Safari Ice</p>
        <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
    </div>
    </div>
</div>
</div>